*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #752abb ;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    background-color: #fff;
    padding: 10px 24px;
    border-radius: 20px;
    width: 490px;
    box-shadow: 0 5px 15px 0;
}

h1 {
    color: #364547;
    margin-left: 72px;
    margin-bottom: 0.5em;
    font-family: cursive;
}


.container.box{
    width: 100%;
    display: flex;
}

.box div{
    width: 100%;
}

select{
    width: 95%;
    height: 40px;
    font-size: 1.2em;
    cursor: pointer;
    background: #b8d416;
    outline: none;
    color: black;
    margin: 0.2em 0;
    padding: 0 1em;
    border-radius: 10px;
    border: none;
}


input{
    width: 95%;
    height: 40px;
    font-size: 1em;
    margin: 0.2em 0;
    border-radius: 10px;
    border: none;
    background: #cccccc;
    outline: none;
    padding: 0 1em;
}


.btn{
    width: 95%;
    height: 40px;
    background: #364547;
    color: #fff;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 1em;
    margin: 0.5em 0;
}